{% extends "mainapp/base.html" %}

{% block content %}
<h2>Students</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Branch</th>
        <th>Age</th>
        <th>Eligible for Vote</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.branch }}</td>
        <td>{{ s.age }}</td>

        {% if s.age >= 18 %}
            <td class="text-success">Yes</td>
        {% else %}
            <td class="text-danger">No</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
